EmployeeSoapClilent/xml-resources/web-service-references/EmployeeWebService/wsdl/localhost_8080/EmployeeSoapService/EmployeeWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="employee" type="tns:employee"/>

<xs:element name="findEmployeeById" type="tns:findEmployeeById"/>

<xs:element name="findEmployeeByIdResponse" type="tns:findEmployeeByIdResponse"/>

<xs:complexType name="findEmployeeById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEmployeeByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:employee" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="employee">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="salary" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>